body {
    background-color: #FFFFFF;
}

h1, h2, h3 {
    font-family: Arial;
}

span {
    color: #FF0000;
}

table, th, td {
    border: 1px solid #000000;
}

.tableContents:hover {
    background-color: #CCCCCC;
}

.create,
.read,
.update,
.delete {
    background-color: #FFFFFF;
}

.navigation {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 350px;
}