body {
    background-color: #FFFFFF;
}

h1 {
    font-family: Arial;
}

h2 {
    font-family: Arial;
}

span {
    color: #FF0000;
}

table, th, td {
    border: 1px solid #000000;
}

.create {
    background-color: #FFFFFF;
}

.read {
    background-color: #FFFFFF;
}

.update {
    background-color: #FFFFFF;
}

.delete {
    background-color: #FFFFFF;
}